<div class="login-wrapper">
    <form class="login">
        <section class="title">
           SISATEND REBORN
            <h5 class="hint">Efetue o login</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="username" clrInput placeholder="Usuario" />
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Senha" />
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox="form.rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="error active">
               Usuario ou senha Icorreto
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>