<div class="main-container">
  <div>
    <header class="header toolbar">
      <div class="branding">
          <a routerLink="/" routerLinkActive="active"  class="nav-link">
              <clr-icon shape="vmw-app"></clr-icon>
              <span class="title">SISATEND</span>
          </a>
      </div>
      <div class="header-nav">
        <a routerLink="/empresa" routerLinkActive="active" class="nav-link"><span class="nav-text">Empresas</span></a>
        <a href="#" class="nav-link"><span class="nav-text">Riscos</span></a>
      </div>
      <div >

      </div>
      <div class="header-actions">
          <clr-dropdown>
              <button class="nav-text" clrDropdownTrigger>
                 Risetech
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a href="..." clrDropdownItem>Preferences</a>
                  <a href="..." clrDropdownItem>Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
    </header>
  </div>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
