<clr-datagrid>
  <clr-dg-column>CNPJ</clr-dg-column>
  <clr-dg-column>Nome Fantasia
      <clr-dg-filter [clrDgFilter]="myFilter">
        <input  placeholder="My input" name="terms" [(ngModel)]="terms"/>
      </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column>Razão Social </clr-dg-column>
  <clr-dg-column>Informações </clr-dg-column>

  <clr-dg-row *ngFor="let empresa of empresas">
      <clr-dg-cell>{{empresa.CNPJ}}</clr-dg-cell>
      <clr-dg-cell>{{empresa.NOME}}</clr-dg-cell>
      <clr-dg-cell>{{empresa.RAZAO}}</clr-dg-cell>
      <clr-dg-cell>
        <div class="btn-group">
          <button class="btn" (click)="getValores(empresa)">Valores</button>
        </div>
      </clr-dg-cell>
  </clr-dg-row>

<clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" 
    [clrDgLastPage]="lastPage" 
    [clrDgTotalItems]="totalItems" 
    [(clrDgPage)] = "currentPage"
    (click)="changePage(pagination.page._current)" >
        <clr-dg-page-size>Empresas por pagina</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} empresas
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="dialog" [clrModalSize]="'xl'" *ngIf="empresa">
    <h3 class="modal-title">Tabela de valores de exames {{nomeEmpresa}}</h3>
  <div class="modal-body">
      <app-info  [empresa]="empresa"></app-info>
  </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="dialog = false">Fechar</button>
    <button type="button" class="btn btn-primary" (click)="dialog = false">Ok</button>
  </div>
</clr-modal>
